@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

.logoBg {
  width: 100px !important;
  height: 20px !important;
  margin-top: 100px;
}

.navTitle {
  font-size: 30px;
  color: #a9b7c5;
  font-family: "Lato", sans-serif;
}
.navigation {
  font-size: 14px;
  color: #a9b7c5;
  font-family: "Lato", sans-serif;
}
.navigation:hover {
  color: #a9b7c5 !important;
}
.hide {
  color: #202020;
}
.navbarToggler {
  color: white!;
}
.toggleIcon {
  color: white !important;
}
